!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header-logo
        = link_to("パン屋探索", "/home/top")
      %ul.header-menus
        - if session[:user_id]
          %li
            現在ログインしているユーザーのid:
            \#{session[:user_id]}
        %li
          = link_to("パン屋探索とは", "/home/about")
        %li
          = link_to("新規投稿", "/post/new")
        %li
          = link_to("探索一覧", "/post/index")
        %li
          = link_to("ユーザー一覧", "/users/index")
        %li
          = link_to("新規登録", "/signup")
        %li
          = link_to("ログイン", "/login")
    - if flash[:notice]
      .flash
        = flash[:notice]
  = yield
